@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F8F8;
  --foreground: #161312;
}

.dark {
  --background: #161312;
  --foreground: white;
}

#scrollable-container {
  scrollbar-width: none; 
}

#scrollable-container::-webkit-scrollbar {
  display: none; 
}

body {
  color: var(--foreground);
  background: var(--background);  
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.8s, color 0.8s;
}
