.label-input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    row-gap: 4px;
    color: #888888;

}
.input-text-area{
    padding: 12px;
    /* background-color:  #353334; */
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    /* color: white; */
}
.contact-submit{
    width: 100%;
    background-color: #F36C38;
    color: white;
    border-radius: 12px;
    height: 44px;
    font-size: 16px;
}